@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Merriweather+Sans&family=News+Cycle&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');





/*----------------------<LOADER>-----------------------------*/

html{
	scroll-behavior: smooth;
}
/*---------------------</LOADER>-----------------------------*/

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


hr.divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  border: #f0cb77;
  background-color: #f0cb77;
  opacity: 1;
}

hr.divider-light{
 background-color: #fff;
 border: #fff;
}


/*--------------------------<HEADER>-----------------------*/

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 100000;
}

.logo{
	cursor: pointer;
	width: 100px;
	height: 60px;
	transition: 0.6s;
}

header.sticky{
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
	padding: 5px 100px;
	background: #fff;
}

header.sticky li.active a{
	color: #f9a03f;
}


header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li{
	position: relative;
	list-style: none;
}

header ul li a{
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: white;
	transition: 0.5s ;

	font-family: "Merriweather Sans", sans-serif;
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
}

.background-image{
	position: relative;
	padding: 12rem 0rem;
	background-image: linear-gradient(to bottom, rgba(0,0,0,.60) 0%, rgba(247, 170, 2, 0.48) 100%),url('../assets/img/picture1.jpg');
	background-size: cover;
	
}

header li a:hover{
	color: #f9a03f;
}

header .fa-solid{
	font-size: 25px;
}

header .fa-solid {
	color: #f9a03f;
}

header .fa-solid:hover{
	color: #fee7aa;
}

header.sticky ul li a{
	color: #000;
}

header.sticky ul li a:hover{
	color: #f9a03f;
}

h1.button-login{
	background-color: #f9a03f;
	color: white;
	font-size: 16px;
	padding: 5px 15px;
	border-radius: 20px;
}

h1.button-login:hover{
	background-color: #ebba4a;
}


ul li ul.dropdown li{
	display: block;
	padding: 5px;
}

ul li ul.dropdown li a {
	color: #000;
}
ul li ul.dropdown li a:hover {

	color: #f9a03f;
}
ul li ul.dropdown{
	border-top: 3px solid black;
	width: 150px;
	background: white;
	position: absolute;
	left: -5px;
	top: 40px;
	display: none;
	text-align: center;
}
ul li:hover ul.dropdown{
	display: block;
}
.center{
	margin-left: -40px;
	margin-top: 3px;
}

.bg{
	text-align: center;
	width: 150px;
}

/* -------------------------</HEADER>-----------------*/

/* -------------------------<TOP SECTION>-----------------*/

.caption-item{
	color: #fff;
	position: relative;
	justify-content: center;
	text-align: center;
}
.caption-item h1{
	font-family: "Merriweather Sans", sans-serif;
	letter-spacing: 2px;
	font-weight: 400;
	font-size: 325%;
}

.caption-item p{
	font-family: "Lora", sans-serif;
	font-size:20px;
	opacity: 0.7;
	color: #fff;
}
.caption-item ul li{
	list-style: none;
}

.caption-item a{
	text-decoration: none;
}
/*------------------*/



/*-----------------------</TOP SECTION>-------------------------------*/

/*----------------------<ABOUT SECTION>------------------------------------*/

.container{
	padding: 5rem 0rem;
	background-color:#e6a91d;
}

.caption-item-1{
	justify-content: center;
	text-align: center;
	color: #fff;
	display: flex;
    padding-right: 5rem !important;
    padding-left: 5rem !important;
}

.caption-item-1 ul li{
	list-style: none;
}

.caption-item-1 a{
	text-decoration: none;
}

.caption-item-1 h2{
	color: #fff;
	font-size: 30px;
	font-family: "Noto Sans", sans-serif;
}

.caption-item-1 p{
	font-family: "Lora", sans-serif;
	font-size:18px;
	color: #fff;
	margin-top: 30px;
	margin-bottom: 30px;
}

.btn {
  display: inline-block;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-light {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

/*------------------------ ABOUT SECOND COLOR -----------------*/
.container-1{
	background-color: #f2d48e;
	padding: 5rem;

}
.caption-item-2{
	display: flex;
}

.box-modif{
	  padding-right: 2rem !important;
    padding-left: 2rem !important;
}

.caption-item-2 h2{
	color: #000;
	font-size: 35px;
	font-family: "Noto Sans", sans-serif;
	text-align: right;
	font-weight: 700;
}
.caption-item-2 p{
	color: #000;
	font-family: "Lora", sans-serif;
	font-size:18px;
	font-weight: 400;
	margin-top: 10px;
	text-align: right;
}

.caption-item-2 ul li{
	list-style-type: none;
}

.card {
 width: 500px;
 height: 380px;
 color: white;
 display: flex; /*grid*/
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr;
 gap: 10px;
 overflow: visible;
}

.card .card-item {
 border-radius: 10px;
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 justify-content: center;
}

.card-item:hover {
 transform: scale(0.95);
 transition: all 0.3s;
 filter: brightness(0.4);
}

.card-item {
 width: 120px;
 height: 120px;
 margin-bottom: 7px;
}

.itemLabel1, .itemLabel2, .itemLabel3, .itemLabel4 {
	text-align: center;
	position: relative;
	top: 30%;
	left: 50%;
	transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.item--1 {
 background-image: url("../assets/foods/ingre.jpg");
 background-size: cover;
 background-position: 50% 0;
}

.item--1:hover .itemLabel1 {
	opacity: 1;
}

.item--2 {
 background-image: url("../assets/foods/meat.jpg");
 background-size: cover;
 background-position: 50% 0;
}
.item--2:hover .itemLabel2 {
  opacity: 1;
}

.item--3 {
 background-image: url("../assets/foods/sauce.jpg");
 background-size: cover;
 background-position: 50% 0;
}
.item--3:hover .itemLabel3 {
  opacity: 1;
}

.item--4 {
 background-image: url("../assets/foods/variations.jpg");
 background-size: cover;
 background-position: 60% 0;
}
.item--4:hover .itemLabel4 {
  opacity: 1;
}

.text {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  -webkit-text-stroke: 1.5px black;
  padding: 16px 32px;
 }
 .subtext {
 	margin-bottom: 400px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
 }

.container-5 {
		padding: 2rem 0rem;
    background: linear-gradient(297deg, #e6a91d, #34373c);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.gallery {
	margin-left: -10px;
	margin-top: 50px;
	position:relative;
  height:100%;
  width:100%;
}

.gallery:after{
  content:'';
}

.g1, .g2, .g3, .g4, .g5{
  height:240px;
  width:240px;
}

.clipped-border{
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
   clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
   padding:5px;
   background:linear-gradient(grey,lightgrey);
   width:var(--border-width);
   height:var(--border-height);
   max-height:250px;
   max-width:250px;
   height: var(--height);
   width:var(--width);
   transition:transform 0.2s;
   position:absolute;
   cursor:pointer;
}

.clipped-border:before{
  content:'';
  position:absolute;
  opacity:0.5;
  width:350px;
  height:70px;
  background:white;
  top:0;
  left:0;
  z-index:1;
  transform:rotate(45deg);
  transition:transform 0.5s;
}

.clipped-border:hover:before{
  transform: translate(-100px,400%) rotate(45deg);
  transition:transform 0.5s;
}

.clipped-border:nth-child(2){
  top:196px;
  left:118px;
}

.clipped-border:nth-child(3){
  top:0;
  left:235px;
}

.clipped-border:nth-child(4){
  top:196px;
  left:353px;
}

.clipped-border:nth-child(5){
  top:0;
  left:470px;
}

#clipped {
-webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);

}

.clipped-border:hover{
  transform:scale(1.2);
  transition:transform 0.2s;
  z-index:10;
}


@media screen and (max-width:500px){
  .clipped-border{
    width:100px;
    height:100px;
  }
  
  .clipped-border:nth-child(2){
    top:0;
    left:100px;
  }
  
  .clipped-border:nth-child(3){
    left:200px;
  }
  
  .clipped-border:nth-child(4){
    top:82px;
    left:50px;
  }
  
  .clipped-border:nth-child(5){
    top:82px;
    left:150px;
  }
}

.galTitle {
	font-family: "Merriweather Sans", sans-serif;
	font-size: 315%;
	color: white;
	float: right;
	margin-top: 50px;
	margin-right: 200px;
}

.galIcon {
	width:400px;
  height:400px;
	float: right;
	margin-top: 40px;
	margin-right: 150px;
	margin-left: 610px;
}

/*----------------------- SERVICES SECTION --------------------------*/
.container-2{
	background-color: #fff;
	padding: 5rem 0rem;
	justify-content: center;
	text-align: center;
}

.caption-item-3{
	display: flex;
    padding-right: 5rem !important;
    padding-left: 5rem !important;
}

.container-2 h1{
	font-family: "Merriweather Sans", sans-serif;
	letter-spacing: 2px;
	font-weight: 400;
	font-size: 200%;
}
.container-2 ul li{
	list-style: none;
}

.container-2 a{
	text-decoration: none;
}

.container-2 .fa-solid{
	font-size: 35px;
	margin: 10px;
	color: #f0cb77;
}

.caption-item-3 ul li{
	list-style: none;
}

.caption-item-3 a{
	text-decoration: none;
}

.box{
	display: inline-flex;
	margin: 15px;
}

.box li{
	font-size: 13px;
}

.box p{
	font-size: 20px;
}

/*-----------------------  BOOK SECTION --------------------------*/
.container-3{
	background-image: url("../assets/img/wave.svg");
	background-size: cover;
	background-color: white;
	padding: 5rem 0rem;
	height: 50vh;
}
h1.title{
	margin: auto;
	text-align: center;
	font-family: "Merriweather Sans", sans-serif;
	font-size: 315%;
}

h1.title:hover {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes h1.title:hover {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

h1.button-book{
	cursor: pointer;
	display: flex;
	justify-content: center;
	font-family: "Merriweather Sans", sans-serif;
	margin: auto;
	background-color: #f9a03f;
	color: white;
	font-size: 150%;
	width: 200px;
	padding: 15px 0px;
	border-radius: 100px;
	margin-top: 20px;
}

h1.button-book-modif{
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
	font-size: 1rem;
	padding: 20px 0px;
	background-color: #e6a91d;
}

h1.button-book:hover{
		background-color: #ebba4a;
}

.container-3 ul li{
	list-style-type: none;
}
.container-3 a{
	text-decoration: none;
}




/*----------------------- CONTACT SECTION --------------------------*/


.container-4{
	padding: 5rem 0rem;
	background-color:#fff;
	justify-content: center;
	text-align: center;

}

.container-4 a{
	text-decoration: none;
}
.caption-item-4{
    padding-right: 20rem !important;
    padding-left: 20rem !important;
	justify-content: center;
	text-align: center;
	color: #000;

}


.caption-item-4 ul li{
	list-style: none;
}

.caption-item-4 a{
	text-decoration: none;
}

.caption-item-4 h2{
	color: #000;
	font-size: 30px;
	font-family: "Noto Sans", sans-serif;
}

.caption-item-4 p{
	font-family: "Lora", sans-serif;
	font-size:20px;
	color: #000;
	margin-top: 30px;
	margin-bottom: 30px;
}

input{
	font-size: 20px;
	font-family: "Lora", sans-serif;
	padding: 10px;
	margin: 15px;
	width: 500px;
	height: 50px;
}

textarea{
	font-size: 16px;
	font-family: "Lora", sans-serif;
	margin: 15px;
	padding: 10px;
	width: 500px;
	height: 200px;
}

.button-formsubmit{
	cursor: pointer;
	display: flex;
	justify-content: center;
	font-family: "Merriweather Sans", sans-serif;
	margin: auto;
	background-color: #f9a03f;
	color: white;
	font-size: 150%;
	width: 500px;
	padding: 15px 0px;
	border-radius: 100px;
	border: 1px;
	margin-top: 20px;
}

.button-formsubmit:hover{
		background-color: #ebba4a;
}


/*----------------------- FOOTER SECTION --------------------------*/
.footer{
	margin-top: 100px;
	font-family: "Lora", sans-serif;
	font-size: 15px;
	opacity: 0.5;
}

/*-------------------loader--------------*/

#loading{
	background: #fff url(../assets/loader/loader.gif) no-repeat center;
	background-size: 40%;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
}

@media only screen and (max-width: 1300px){

.itemLabel1, .itemLabel2, .itemLabel3, .itemLabel4 {
	position: absolute;
	top: 30%;
	left: 50%;
	transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.box-modif{
	width: 100%;
	  padding-right: 1rem !important;
    padding-left: 1rem !important;
	justify-content: center;
	align-items: center;
}
.caption-item-2 h2{
	text-align: center;
}

.caption-item-2 p{
	text-align: center;
	padding-bottom: 10px;
}
.caption-item-2{
	width: 100%;
	display: block;
}



}
@media only screen and (max-width: 700px){

.caption-item-3{
	display: block;
}
.caption-item-4{
	  padding-right: 5rem !important;
    padding-left: 5rem !important;
}

@media only screen and (max-width: 500px){

h1.button-submit{
	width: 300px;
}

input{
	font-size: 20px;
	font-family: "Lora", sans-serif;
	margin: 15px;
	width: 300px;
	height: 50px;
}

textarea{
	margin: 15px;
	width: 300px;
	height: 200px;
}
}
/*

#container{
	padding: 0.5rem;
}

.slider-wrapper {
	position: relative;
	margin: 0 auto;
	height: 100%;
}

.slider{
	display: flex;
	aspect-ratio: 16 / 7;
	overflow-x: hidden;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rex 3rem -0.75rem hsla(0, 0% ,0%, 0.25);
	border-radius: 5px;
}

.slider-1 img{
	flex: 1 0 100%;
	height: calc(179vh - 110%);
	width: calc(199vh);
	object-fit: cover;
	}
.slider-2 img{
	flex: 1 0 100%;
	height: calc(179vh - 110%);
	width: calc(200vh);
	object-fit: cover;
}
.slider-3 img{
	flex: 1 0 100%;
	height: calc(179vh - 110%);
	width: calc(200vh);
	object-fit: cover;
}

p{
	position: absolute;
	text-align: center;
	width: 100%;
	height:96.5%;
}
.paragraph-1{
	font-family: "Merriweather Sans", serif;
	font-size: 312.5%;
	flex-shrink: ;
	padding-top: 200px;
	color: #fff;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.48) 0%, rgba(250, 147, 2, 0.48) 100%);
	line-height: 55px;
}
.paragraph-2{
	letter-spacing: 1px;
	font-family: "Playfair Display", sans-serif;
	font-size: 15px;
	padding-top: 400px ;
	color: #fff;
}
.slider-nav{
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	top: 85%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a{
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;

}

.slider-nav a:hover{
	opacity: 1;
}
*/}